body{
     background-color: brown;
     font-style: oblique;
    text-align: center;
    }
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;   
}    